<div class="hero">
  <div class="hero__wrapper">
    <div class="hero__text-wrapper">
      <h2 class="hero__title">Lightning fast prototyping</h2>
      <h2 class="hero__title hero__title_big">We focus on ergonomics</h2>
      <p class="hero__text">
        Most calendars are designed for teams. Slate is designed for freelancers
      </p>
    </div>
    <div class="hero__screen-wrapper">
      <img
        class="hero__screen"
        src=" ../images/header-table1x.png"
        alt="work-place"
        srcset="../images/header-table2x.png 2x"
      />
    </div>
    <button class="hero__button">Try For Free</button>
  </div>
</div>
