<div class="newsletter">
  <div class="newsletter__header">
    <span class="newsletter__subtitle">At your fingertips</span>
    <h4 class="newsletter__title">Newsletter</h4>
    <h4 class="newsletter__title newsletter__title_big">
      Lightning fast prototyping
    </h4>
  </div>

  <div class="newsletter__main">
    <span class="newsletter__subtitle">Subscribe to our Newsletter</span>
    <h4 class="newsletter__text">Available exclusivery on Figmaland</h4>
  </div>

  <form class="newsletter__form">
    {{ input(modifier="input_newsletter", placeholder="Your Email")}} {{
    button(modifier="button_newsletter", content="Subscribe")}}
  </form>
</div>
