<div class="prototyping">
  <div class="prototyping__main">
    <h4 class="prototyping__title">
      Lightning fast prototyping
    </h4>
    <p class="prototyping__text">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
    <div class="prototyping__box">
      {{ button(modifier="button_prototyping", content="Try For Free")}}
    </div>
  </div>
  <div class="prototyping__wrapper">
    <img
      class="prototyping__img"
      src="../images/prototyping-macbook.png"
      alt="Macbook pro"
    />
  </div>
</div>
