.svg-contact-facebook {
  width: 1em;
  height: 1em;
  fill: #EF2779;
}
.svg-contact-geo {
  width: 0.79em;
  height: 1em;
  fill: #EF2779;
}
.svg-contact-linkedin {
  width: 1em;
  height: 1em;
  fill: #EF2779;
}
.svg-contact-mail {
  width: 1.17em;
  height: 1em;
  fill: #EF2779;
}
.svg-contact-phone {
  width: 0.6em;
  height: 1em;
  fill: #EF2779;
}
.svg-contact-twitter {
  width: 1.21em;
  height: 1em;
  fill: #EF2779;
}
.svg-features-icon {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.svg-header-svg {
  width: 1.25em;
  height: 1em;
  fill: #fff;
}
