<div class="pricing">
  <h3 class="pricing__title">Pricing</h3>
  <p class="pricing__text">
    Most calendars are designed for teams. Slate is designed for freelancers
  </p>
  <div class="pricing__wrapper">
    {{ card (modifier ="", title="Free", description="Organize across all apps
    by hand", price="0", currency="$", conditions="Per Month") }} {{ card
    (modifier ="", title="STANDARD", description="Organize across all apps by
    hand", price="10", currency="$", conditions="Per Month") }} {{ card
    (modifier ="", title="BUSINESS", description="Organize across all apps by
    hand", price="99", currency="$", conditions="Per Month") }}
  </div>
</div>
