<div class="header">
  <div class="header__nav">
    <a class="header__link" href="#">
      <img src="../images/logo.png" alt="logo" />
    </a>

    <div class="header__burger-wrapper">
      <div class="header__burger">
        {{ mixins.svg('header-svg') }}
      </div>

      <ul class="header__list">
        <li class="header__item">
          <a class="header__nav-item" href="#">Home</a>
        </li>
        <li class="header__item">
          <a class="header__nav-item" href="#">Product</a>
        </li>
        <li class="header__item">
          <a class="header__nav-item" href="#">Pricing</a>
        </li>
        <li class="header__item">
          <a class="header__nav-item" href="#">About</a>
        </li>
        <li class="header__item">
          <a class="header__nav-item" href="#contacts">Contact</a>
        </li>
      </ul>

      <div class="header__box">
        <input class="header__input" placeholder="Your Email" type="text" />
        <button class="header__button">Subsribe</button>
      </div>
    </div>
  </div>
</div>
