<div class="features">
  <div class="features__header">
    <span class="features__text">At your fingertips</span>
    <h3 class="features__title">Features</h3>
    <p class="features__subtitle">
      Most calendars are designed for teams. Slate is designed for freelancers
    </p>
  </div>
  <ul class="features__list">
    <li class="features__item">
      <div class="features__box">
        <div class="features__icon-box">
          {{ mixins.svg('features-icon') }}
        </div>
        <h5 class="features__text">The best products start with Sketch</h5>
      </div>
      <p class="features__description">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </li>

    <li class="features__item">
      <div class="features__box">
        <div class="features__icon-box">
          {{ mixins.svg('features-icon') }}
        </div>
        <h5 class="features__text">Fastest way to organize</h5>
      </div>
      <p class="features__description">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </li>

    <li class="features__item">
      <div class="features__box">
        <div class="features__icon-box">
          {{ mixins.svg('features-icon') }}
        </div>
        <h5 class="features__text">Work better together</h5>
      </div>
      <p class="features__description">
        Slate helps you see how many more days you need to work to reach your
        financial goal.
      </p>
    </li>
  </ul>
</div>
