<div class="footer">
  <div class="footer__pages">
    <h4 class="footer__title">Pages</h4>
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link">Eleanor Edwards</a>
      </li>
      <li class="footer__item">
        <a class="footer__link">Ted Robertson</a>
      </li>
      <li class="footer__item">
        <a class="footer__link">Annette Russell</a>
      </li>
      <li class="footer__item">
        <a class="footer__link">Jennie Mckinney</a>
      </li>
      <li class="footer__item">
        <a class="footer__link">Gloria Richards</a>
      </li>
    </ul>
  </div>
  <div class="footer__wrapper">
    <iframe
      class="footer__map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1915.7550076441528!2d-149.4732573!3d61.3040847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x56c8ecfbb6a96f7f%3A0xeea4847d410dd276!2s6386%20Spring%20St!5e0!3m2!1sru!2sru!4v1634825937812!5m2!1sru!2sru"
      width="100%"
      height="247"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <div class="footer__box">
    {{ links(modifired="") }} {{ contacts(modifired="contacts_footer") }}
  </div>
</div>
