<div class="testimonials">
  <h3 class="testimonials__title">Testimonials</h3>
  <div class="testimonials__main">
    <div class="testimonials__wrapper">
      <img
        class="testimonials__icon"
        src="./images/testimonials-icon.png"
        alt="Testimonials"
      />
    </div>
    <p class="testimonials__text">
      Most calendars are designed for teams. Slate is designed for freelancers
      who want a simple way to plan their schedule.
    </p>
    <div class="testimonials__box">
      {{ testimonial(img="./images/testimonial-woman.png", name="Organize
      across", content="Ui designer") }}
    </div>
  </div>
  <div class="testimonials__container">
    {{ button(modifier="button_prototyping", content="More Testimonials")}}
  </div>
</div>
